<form action="">
    <div class="mb-4">
      <label for="">Tipo de actividad</label> <br>
      <select name="tipoActividad" id="">
        <option value="education">Education</option>
        <option value="recreational">Recreational</option>
        <option value="social">Social</option>
        <option value="diy">Diy</option>
        <option value="charity">Charity</option>
        <option value="cooking">Cooking</option>
        <option value="relaxation">Relaxation</option>
        <option value="music">Music</option>
        <option value="busywork">Busywork</option>
      </select>
    </div>
    <div class="mb-4">
      <label for="">Precio</label> <br>
      <select name="precio" id="">
        <option value="0">Gratis</option>
        <option value="">Cualquiera</option>
  
      </select>
    </div>
    <div class="mb-3">
      <label for="">Numero de participantes</label> <br>
      <input type="number" name="participantes" id="participantes">
    </div>
    <div class="mb-4">
      <input type="submit"class="btn btn-success" value="Generar actividad">
    </div>
  </form>
  
